extends ../layout

block content
    br

    a(href='/bicicletas') Volver

    br
    br

    .container
        .card.py-4.h-100
            .card-body.text-center
                h2 Nueva Bicicleta

                br
                br

                form(action='/bicicletas/create' method='post')
                    .row
                        .col-md-12
                            label(for='id') ID: 
                            input#id(type='text' name='id')
                            br
                        .col-md-12
                            label(for='color') Color: 
                            input#id(type='text' name='color')
                            br
                        .col-md-12
                            label(for='modelo') Modelo: 
                            input#id(type='text' name='modelo')
                            br
                        .col-md-12
                            label(for='lat') Latitud: 
                            input#id(type='text' name='lat')
                            br
                        .col-md-12
                            label(for='lng') Longitud: 
                            input#id(type='text' name='lng')
                            br
                            br
                        .col-md-12
                            input.btn.btn-primary(type='submit' value='OK')